body {
    background: url('./img.jpeg'),linear-gradient(to left, #cb3289, #dd59c5, #be58dd, #ab84f0, #9a9ae1, #7da1f6, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-attachment: center;
  
  
  background-origin: border-box;
  
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    height: 110dvh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.card{
    border-radius: 55px;
    box-shadow: 0 0 15px 5px #9a9ae1;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    
}

